.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.body {
  min-width:300px;
}

.pics {
  max-width: 200px;
}

.img {
  display: block;
  margin: auto;
  width: 40%;
}

.center {
  width: 50%;
  left: auto;
  text-align: center;
  max-height: 0px;
  display: block;
  margin: 50px;
  /*position: relative;*/
  /*margin-right: auto;*/
}

.preferences {
  width: 25%;
  text-align: center;
  max-height: 0px;
  display: block;
  margin: auto;
  /*position: relative;*/
  /*margin-right: auto;*/
}

.right {
  position: relative;
  float: right;
  height: 400px;
  margin-left: auto;
  margin-right: 5%;
  overflow-y: scroll;
}

#pref-button {
  position: absolute;
  right: 200px;
  bottom: 91%;
  margin: 0 auto;
}

.left {
  float: left;
  margin-left: 10%;
  margin-right: auto;
}

.floatright {
  float: right;
}

.largetext {
   font-size: 36pt;
   text-align: center;
}

.img-height {
  height: 10%
}

.message {
  position: absolute;
  text-align: left;
  right: 1285px;
  bottom: 1000px;
  color: red;
}

.instructions {
  position: absolute;
  right: 400px;
  bottom: 450px;
}

#cat {
  position: fixed;
  max-width: 20px;
  right: 400px;
  bottom: .1px;
  transform: rotate(180deg);
}

.ui-card {
    max-width: 50%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 290px;
    min-height: 0;
    background: #fff;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    -webkit-transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,-webkit-transform .1s ease;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    -o-transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-transform .1s ease;
    z-index: '';
}
